.header {
    // padding: 20px;
    margin-top: 20px;
    .search {
        width: 85%;
        position: relative;
        .search-icon {
            position: absolute;
            top: 14px;
            left: 15px;
        }
        input {
            background-color: $white;
            height: 52px;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
            border-color: $white;
            padding-left: 48px;
            &:focus {
                box-shadow: 0 0 0 0 rgba(13, 110, 253, 0.25);
                border-color: $white;
                background-color: $white;
            }
        }
    }
    .btn {
        background-color: $grey;
        color: $white;
        height: 52px;
        font-size: 14px;
        font-weight: $font-weight-semibold;
        padding: 8px 20px;
        &:hover {
            background-color: $grey;
            color: $white;
        }
    }

}
