.right-bar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    right: -100%;
    background-color: $white;
    width: 300px;
    height: 100%;
    z-index: 9;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    &.toggled {
        right: 0;
    }
    .right-bar-header {
        box-shadow: 0 0rem 0.5rem rgba(0, 0, 0, 0.175);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        .notify {
            border: 1px solid $grey;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .right-bar-body  {
        padding: 20px;

    }

    .right-bar-footer {
        width: calc(100% - 10px);
        padding: 20px;
    }
}

